Add and edit

<div class="card shadow mb-4">
    <div class="card-header py-3 golbalflex">
        ເພີ້ມຂໍ້ມູນ
    </div>
    <div class="card-body">

        <div class="form-row">

            <div class="col-md-4 mb-3">
                <label >ຫົວຂໍ້ແຈ້ງການ</label>
                <input type="text" class="form-control "  placeholder="ຫົວຂໍ້ແຈ້ງການ" >
                
            </div>

        
        </div>


        <div class="form-row">

            <div class="col-md-8 mb-3">
                <label >ລາຍລະອຽດ</label>
                <textarea  type="text" class="form-control "  placeholder="ລາຍລະອຽດ" ></textarea>
                
            </div>

        </div>

        <div class="form-row">

            <div class="col-md-4 mb-3">
                <label >ຮູບພາບ</label>
                <input type="file" class="form-control "  placeholder="ຮູບພາບ"  >
                
            </div>

    
           
        </div>
       
    </div>

    <div class="card-footer ">
        <button  type="button" class="btn btn-primary" > ບັນທືກ </button>&nbsp;
        <button routerLink="../" type="button" class="btn btn-secondary "> ກັບຄືນ </button>
    </div>
</div>
