
    <div class="row">
      <div class="col-md-3 content" id="content3" >
        <div class="card button">ປະເພດຜັດ</div>
        <div class="card button">ປະເພດແກງ</div>
        <div class="card button">ປະເພດທອດ</div>
        <div class="card button">ປະເພດປິ້ງ</div>
        <div class="card button">ປະເພດຕຳ</div>
        <div class="card button">ປະເພດຍຳ</div>
        <div class="card button">ປະເພດເບຍ</div>
        <div class="card button">ປະເພດສາວໆ</div>
        <div class="card button">ປະເພດສາວໆ</div>
      </div>
      <div class="col-md-9 content" id="content4">
        <div class="product" id="product" >
          <div class="row">
            <div class="col-md-4">
              <div class="card button">ປາໜຶ້ງ<br>ໝາກນາວ</div>
            </div>
            <div class="col-md-4">
              <div class="card button">ກຸ້ງແຊ່<br>ນ້ຳປາ</div>
            </div>
            <div class="col-md-4">
              <div class="card button">ທອດຄາເປັດ</div>
            </div>
            <div class="col-md-4">
              <div class="card button">ຈີ່ໜັງ<br>ແຈ່ວບອງ</div>
            </div>
            <div class="col-md-4">
              <div class="card button">ເຂົ້າຜັດທະເລ</div>
            </div>
            <div class="col-md-4">
              <div class="card button">ເຂົ້າຜັດ<br>ກະເພາໝູສັບ</div>
            </div>
            <div class="col-md-4">
              <div class="card button">ປາລາດພິກ</div>
            </div>
            <div class="col-md-4">
              <div class="card button">ຕົ້ມຍຳ<br>ປາມຶກ</div>
            </div>
            <div class="col-md-4">
              <div class="card button">ປິ້ງໄກ່ໃສ່ປາແດກໃສ່ປາແດກsdsad</div>
            </div>

             <div class="col-md-4">
              <div class="card button">ປິ້ງໄກ່<br>ໃສ່ປາແດກ</div>
            </div>
            
          </div>
        </div>
        <div class="caculator">
          <div class="row">
            <div class="col-md-12" id="text-input">
              <div class="input-group mb-3">
                <input type="text" class="form-control">
                <div class=" input-group-append">
                  <button class="input-group-text">✔</button>
                </div>
                <div class="input-group-append">
                  <button class="input-group-text">✖</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card button">1</div>
            </div>
            <div class="col-md-4">
              <div class="card button">2</div>
            </div>
            <div class="col-md-4">
              <div class="card button">3</div>
            </div>
            <div class="col-md-4">
              <div class="card button">4</div>
            </div>
            <div class="col-md-4">
              <div class="card button">5</div>
            </div>
            <div class="col-md-4">
              <div class="card button">6</div>
            </div>
            <div class="col-md-4">
              <div class="card button">7</div>
            </div>
            <div class="col-md-4">
              <div class="card button">8</div>
            </div>
            <div class="col-md-4">
              <div class="card button">9</div>
            </div>
            <div class="col-md-4">
              <div class="card button">.</div>
            </div>
            <div class="col-md-4">
              <div class="card button">0</div>
            </div>
            <div class="col-md-4">
              <div class="card button">x</div>
            </div>
          </div>
        </div>
      </div>
    </div>
