<div class="row m-2">

    <div class="card col-md scgreen">
        <h4>ຫນ້າໂຕະ</h4>
    </div>
    <div class="card col-md scgreen">
        <h4>LIVE ສົດ</h4>
    </div>
    <div class="card col-md scgreen ">
        <h4>LIVE ສົດ</h4>
    </div>

</div>

<div class="wrappper_table">
<div class="mytable">
  <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 123 </h4>
      <p>ບໍ່ມີແຂກ <br> </p>
  </div>
  <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະນັກຮ້ອງ ວົງ1</h4>
      <p>ມີແຂກ <br> ລູກຄ້າທົ່ວໄປ</p>
    
  </div> <div class="card list_table background-orange" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
      <p>ມີແຂກ <br> ອ້າຍ ພອນ</p>
  </div> <div class="card list_table background-Scarlet" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
      <p>ກຳລັງເຊັກບິນ</p>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div>
   <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div>
  <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div> <div class="card list_table" routerLink="../ViewTicket">
      <h4>ໂຕະ 1</h4>
  </div>

</div>
   
</div>

<app-foodter></app-foodter>
  