
    <div class="row" >
      <div class="col-md-3 content" id="content1">
        <div class="card button">ປ່ຽນໂຕະ</div>
        <div class="card button">ເລືອກລູກຄ້າ</div>
        <div class="card button">ຄຳອະທິບາຍ</div>
        <div class="card button" style="color: #919191">ປິ້ນບິນ</div>
        <div class="card button" style="color: #919191">ເພີ່ມບິນ</div>
      </div>
      <div class="col-md-9 content" id="content2">
        <div class="card card-header ">
          <div  class="golbalflex">
            <div>
              ເລກບິນ : 10 <br>
              ໂຕະ: 17 <br>
              ສະຖານະ: ລູກຄ້າໃໝ່
            </div>
            <div> 
              ລູກຄ້າ: ທົ່ວໄປ <br>
              ເປີດບິນ: 11:00 <br>
              ອໍເດີລ່າສຸດ: 11:00
            </div>
          
          </div>
         
        </div>
        <div class="card card-content">
           
          

           
          <div>
            <p class="order_item">OrderNo: 12 - Admin 6:20</p> 
              <div class="item " >
             
                <div class="golbalflex">
                 
                  <div >
                      <h3>  1 itemname</h3>
                      <div >
                          <p class="order_status">kITCHEN,SUBMITED </p>
                      </div>
                  </div>
                  <strong> {{30000 | number}}</strong>
                </div>
               
               
               
             </div>
             <div class="item " >
             
              <div class="golbalflex">
                <div >
                    <h3>  1 itemname</h3>
                    <div >
                        <p class="order_status">kITCHEN,SUBMITED </p>
                    </div>
                </div>
                <strong> {{30000 | number}}</strong>
              </div>
             
              <div class="order_tag">
                order tag <strong>{{1000 | number}}</strong> 
              </div>
              <div class="order_tag">
                order tag <strong>{{1000 | number}}</strong> 
              </div>
              <div class="order_tag">
                order tag <strong> {{1000 | number}}</strong> 
              </div>
              
             </div>
             <div class="item " >
             
              <div class="golbalflex">
                <div >
                    <h3>  1 itemname</h3>
                    <div >
                        <p class="order_status">kITCHEN,SUBMITED </p>
                    </div>
                </div>
                <strong> {{30000 | number}}</strong>
              </div>
             
              <div class="order_tag">
                order tag <strong>{{1000 | number}}</strong> 
              </div>
              <div class="order_tag">
                order tag <strong>{{1000 | number}}</strong> 
              </div>
              <div class="order_tag">
                order tag <strong> {{1000 | number}}</strong> 
              </div>
              
             </div>

          </div>
          <div>
            <p class="order_item">OrderNo: 12 - Admin 6:20</p> 
              <div class="item " >
             
                <div class="golbalflex">
                 
                  <div >
                      <h3>  1 itemname</h3>
                      <div >
                          <p class="order_status">kITCHEN,SUBMITED </p>
                      </div>
                  </div>
                  <strong> {{30000 | number}}</strong>
                </div>
               
               
               
             </div>
             <div class="item " >
             
              <div class="golbalflex">
                <div >
                    <h3>  1 itemname</h3>
                    <div >
                        <p class="order_status">kITCHEN,SUBMITED </p>
                    </div>
                </div>
                <strong> {{30000 | number}}</strong>
              </div>
             
              <div class="order_tag">
                order tag <strong>{{1000 | number}}</strong> 
              </div>
              <div class="order_tag">
                order tag <strong>{{1000 | number}}</strong> 
              </div>
              <div class="order_tag">
                order tag <strong> {{1000 | number}}</strong> 
              </div>
              
             </div>
             <div class="item " >
             
              <div class="golbalflex">
                <div >
                    <h3>  1 itemname</h3>
                    <div >
                        <p class="order_status">kITCHEN,SUBMITED </p>
                    </div>
                </div>
                <strong> {{30000 | number}}</strong>
              </div>
             
              <div class="order_tag">
                order tag <strong>{{1000 | number}}</strong> 
              </div>
              <div class="order_tag">
                order tag <strong>{{1000 | number}}</strong> 
              </div>
              <div class="order_tag">
                order tag <strong> {{1000 | number}}</strong> 
              </div>
              
             </div>

          </div>
            

         
           
          
          


        </div>
        <div class="golbalflex">
            <div>
                ລວມເງີນ : <br>
                ຈ່າຍແລ້ວ : <br>
                <h2 > ຍັງຄ້າງຈ່າຍ :</h2> <br>
            </div>

            <div class="text-right">
                {{30000 | number}}  <br>
                {{30000 | number}}  <br>
                <h2> {{30000 | number}} </h2>  <br>
            </div>
        </div>
        
        <!-- <div class="card card-footer">
            <p>Ticket Open</p>
            <p>Ticket Open</p>
            <p>Ticket Open</p>
            <div class="golbalflex" >
                <h6>ໂຕະ: 17</h6><h6>ໂຕະ: 17</h6>
            </div>
          </div> -->
        


        <div  id="ticket_footer" >
          <div class="row">
            <div class="col-md">
              <div class="card button-bill">ຊຳລະ</div>
            </div>
            <div class="col-md">
              <div class="card button-cancel" routerLink="../tables">ຍົກເລີກ</div>
            </div>
          </div>

        </div>
          
      </div>
    </div>
