
<div class="container">
     
    
  <div class="row row2">
    <div class="col-4">
      <div class="card warpper_box" routerLink="tables" >
        <div class="box">
          <i class="fas fa-desktop"></i><br />
        </div>
        <h4>POS</h4>
      </div>
    </div>

    <div class="col-4">
      <div class="card warpper_box">
          <div class="box">
            <i class="fas fa-table"></i><br />

          </div>
          <h4>ການຈອງ</h4>

        </div>
    </div>
    <div class="col-4">
      <div class="card warpper_box">
        <div class="box">
          <i class="fas fa-warehouse"></i><br />
        </div>
        <h4>ລະບົບສາງ</h4>
      </div>
    </div>
<!-- 
    <div class="col-4">
      <div class="card warpper_box">
          <div class="box">
            <i class="fas fa-cogs"></i><br />
          </div>
          <h4>ລະບົບການຜະລິດ</h4>
        </div>
    </div>
    <div class="col-4">
      <div class="card warpper_box">
        <div class="box">
          <i class="fas fa-shopping-bag"></i><br />
          
        </div>
        <h4>ອໍເດີ້</h4>
      </div>
    </div>
    <div class="col-4">
      <div class="card warpper_box">
          <div class="box">
              <i class="fas fa-truck"></i><br />
          </div>
          <h4>ລະບົບການຂົນສົ່ງ</h4>
        </div>
    </div> -->


    <div class="col-4">
      <div class="card warpper_box">
        <div class="box">
          <i class="fas fa-file-alt"></i><br />
        </div>
        <h4>ລາຍງານ</h4>
      </div>
    </div>
    <div class="col-4">
      <div class="card warpper_box" routerLink="../../Manage">
          <div class="box">
              <i class="fas fa-cog"></i><br />
          </div>
          <h4>ການຈັດການທົ່ວໄປ</h4>
        </div>
    </div>
    <div class="col-4">
      <div class="card warpper_box">
        <div class="box">
          <i class="fas fa-sign-out-alt"></i><br />
        </div>
        <h4>ອອກຈາກລະບົບ</h4>
      </div>
    </div>
  </div>

  
</div>