<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion " id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#/main/Manage">
    <div class="sidebar-brand-icon rotate-n-15">
      <!-- <i class="fas fa-laugh-wink"></i> -->
    </div>
    <div class="sidebar-brand-text mx-3"> ຈັດການຂໍ້ມູນ </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">


  <!-- Divider -->
  <hr class="sidebar-divider">



  <!-- Heading -->
  <div class="sidebar-heading">
    ເມນູ
  </div>

  <li class="nav-item">

  </li>


  <li class="nav-item" >
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#users" aria-expanded="true"
      aria-controls="users">
      <span> ກ່ຽວກັບພະແນກ </span>
    </a>
    <div id="users" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="['/main/Manage/Depament/List']">ພາລະບົດບາດ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Org/List']"> ໂຄງຮ່າງການຈັດຕັ້ງຂອງພະແນກ </a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Contact/List']"> ຊ່ອງທາງຕິດຕໍ່ພະແນກ </a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Assistance/List']"> ໂຄງການຊ່ວຍເຫຼືອ </a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Site/List']"> ບັນດາລີ້ງເວັບໄຊອື່ນ </a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Process/List']">ຂະແໜງການ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Process2/List']">ຫ້ອງການ ອຄ ເມືອງ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/DevelopmentPlan/List']">ແຜນພັດທະນາ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Form/List']">ຂໍ້ມູນຮັບຄຳຮ້ອງ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/DevelopmentReport/List']">ຈັດການຂໍ້ມູນບົດສະຫຼຸບ</a>
      </div>
    </div>
  </li>

  <li class="nav-item" >
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#abcd" aria-expanded="true"
      aria-controls="abcd">
      <span>ສະຖິຕິອຸດສາຫະກໍາປຸງແຕ່ງ</span>
    </a>
    <div id="abcd" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="['/main/Manage/Statistics/List']">ສະຖິຕິພະນັກງານລັດຖະກອນ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Statistics2/List']">ສະຖິຕິອຸດສາຫະກໍາແລະຫັດຖະກໍາ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Statistics3/List']">ສະຖິຕິການຄ້າພາຍໃນ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Statistics4/List']">ສະຖິຕິທະບຽນວິສາຫະກິດ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Statistics5/List']">ສະຖິຕິນໍາເຂົ້າແລະສົ່ງອອກ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Statistics6/List']">ວິສາຫະກິດຂະໜາດນ້ອຍແລະກາງ</a>

      </div>
    </div>
  </li>

  <li class="nav-item" >
    <a class="nav-link collapsed" [routerLink]="['/main/Manage/Product/List']" href="#" data-toggle="collapse" data-target="#product" aria-expanded="true"
      aria-controls="product">
      <span>ສິນຄ້າ ODOP ແລະ ສິນຄ້າທ່າແຮງ</span>
    </a>

  </li>

  <li class="nav-item" *ngIf="checkWeb()">
    <a class="nav-link collapsed" [routerLink]="['/main/Manage/ProductTea/List']" href="#" data-toggle="collapse" data-target="#productTae" aria-expanded="true"
      aria-controls="productTae">
      <span>ຜະລິດຕະພັນຊາ</span>
    </a>
  </li>

  <li class="nav-item" >
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#sapa" aria-expanded="true"
      aria-controls="sapa">
      <span>ສະພາການຄ້າ ແລະ ອຸດສາຫະກໍາ</span>
    </a>
    <div id="sapa" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="['/main/Manage/Org1/List']">ໂຄງຮ່າງການຈັດຕັ້ງຂອງແຂວງ1</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Org2/List']">ໂຄງຮ່າງການຈັດຕັ້ງຂອງແຂວງ2</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Employee/List']">ຈັດການຂໍ້ມູນພະນັກງານ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/council/List']">ກ່ຽວກັບສະພາ</a>
      </div>
    </div>
  </li>

  <li class="nav-item" >
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#news" aria-expanded="true"
      aria-controls="news">
      <span>ຂໍ້ມູນຂ່າວສານ</span>
    </a>
    <div id="news" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="['/main/Manage/News/List']">ຈັດການຂ່າວສານ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Banner/List']">ຈັດການແບນເນີ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Banner2/List']">ຈັດການຮູບພາບການເຄຶ່ອນໄຫວ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Vdio/List']">ຈັດການວີດີໂອ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Notice/List']">ແຈ້ງການລາຄາອັບເດດສີນຄ້າ</a>
      </div>
    </div>
  </li>

  <li class="nav-item" >
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#doc" aria-expanded="true"
      aria-controls="doc">
      <span>ເອກະສານ</span>
    </a>
    <div id="doc" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="['/main/Manage/Law/List']">ກົດຫມາຍ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Law2/List']">ດໍາລັດ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Law3/List']">ຄໍາສັ່ງ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Law4/List']">ຄໍາແນະນໍາ ຫຼື ບົດແນະນໍາ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Law5/List']">ຂໍ້ຕົກລົງ</a>
        <a class="collapse-item" [routerLink]="['/main/Manage/Law6/List']">ແຈ້ງການ</a>
      </div>
    </div>
  </li>

  <li class="nav-item" >
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#sp" aria-expanded="true"
      aria-controls="sp" [routerLink]="['/main/Manage/Donor/List']">
      <span>ສະໜັບສະໜູນໂດຍ</span>
    </a>
  </li>
  <!-- Nav Item - Charts -->

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggled()"></button>
  </div>

</ul>
