<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion " id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#/main/Manage">
    <div class="sidebar-brand-icon rotate-n-15">
      <!-- <i class="fas fa-laugh-wink"></i> -->
    </div>
    <div class="sidebar-brand-text mx-3"> ຈັດການຂໍ້ມູນ </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">


  <!-- Divider -->
  <hr class="sidebar-divider">



  <!-- Heading -->
  <div class="sidebar-heading">
    ເມນູ
  </div>

  <li class="nav-item">
    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Product/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ຈັດການສິນຄ້າ </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Banner/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ຈັດການແບນເນີ </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/News/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ຈັດການຂ່າວສານ </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Notice/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ແຈ້ງການລາຄາອັບເດດສີນຄ້າ </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Vdio/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ຈັດການວີດີໂອ </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Site/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ຈັດການບັນດາລີ້ງເວັບໄຊອື່ນ </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Depament/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ຈັດການຂໍ້ມູນພາລະບົດບາດ
      </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Contact/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ຊ່ອງທາງຕິດຕໍ່ພະແນກ
      </span>
    </a>
    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Process/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ຈັດການຂໍ້ມູນຂະແໜງການ
      </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Employee/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ຈັດການຂໍ້ມູນພະນັກງານ
      </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Assistance/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ຈັດການຂໍ້ມູນໂຄງການຊ່ວຍເຫຼືອ
      </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/DevelopmentPlan/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ຈັດການຂໍ້ມູນແຜນພັດທະນາ
      </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/DevelopmentReport/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ຈັດການຂໍ້ມູນບົດສະຫຼຸບ
      </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Form/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ຂໍ້ມູນຮັບຄຳຮ້ອງ
      </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Law/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ເອກະສານ
      </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/ProductTea/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ຜະລິດຕະພັນຊາ
      </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Org/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span> ໂຄງຮ່າງການຈັດຕັ້ງຂອງພະແນກ
      </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Org1/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span>  ໂຄງຮ່າງການຈັດຕັ້ງຂອງແຂວງ1
      </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Org2/List']"
      routerLinkActive="router-link-active">
      <i class="fab fa-product-hunt"></i>
      <span>  ໂຄງຮ່າງການຈັດຕັ້ງຂອງແຂວງ2
      </span>
    </a>

    <a class="nav-link collapsed" href="javascrip:void(0)" [routerLink]="['/main/Manage/Donor/List']"
    routerLinkActive="router-link-active">
    <i class="fab fa-product-hunt"></i>
    <span> ສະໜັບສະໜູນໂດຍ
    </span>
  </a>

    

  </li>


  <li class="nav-item" *ngIf="Permistion == 'admin'">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#users" aria-expanded="true"
      aria-controls="users">

      <i class="fas fa-fw fa-users"></i>

      <span> ຜູ້ໃຊ້ </span>
    </a>
    <div id="users" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">


        <a class="collapse-item" [routerLink]="['Users']"> ຂໍ້ມູນຜູ້ໃຊ້ </a>
        <a class="collapse-item" [routerLink]="['Users']"> ສິດຜູ້ໃຊ້ </a>



      </div>
    </div>
  </li>

  <li class="nav-item" *ngIf="Permistion == 'admin'">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Entities" aria-expanded="true"
      aria-controls="Entities">

      <i class="fas fa-solar-panel"></i>

      <span> ໜ້າໂຕະ </span>
    </a>
    <div id="Entities" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">


        <a class="collapse-item" [routerLink]="['Users']"> ຂໍ້ມູນໂຕະ </a>
        <a class="collapse-item" [routerLink]="['Users']"> ຂໍ້ມູນໜ້າຈໍ້ </a>



      </div>
    </div>
  </li>



  <li class="nav-item" *ngIf="Permistion == 'admin'">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#setting" aria-expanded="true"
      aria-controls="setting">

      <i class="fas fa-cogs"></i>

      <span> ຕັ້ງຄ່າ </span>
    </a>
    <div id="setting" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">


        <a class="collapse-item" [routerLink]="['Users']"> Printer </a>
        <a class="collapse-item" [routerLink]="['Users']"> Printer Template </a>
        <a class="collapse-item" [routerLink]="['Users']"> Printer job </a>
        <a class="collapse-item" [routerLink]="['Users']"> Department </a>
        <a class="collapse-item" [routerLink]="['Users']"> Currency </a>
        <a class="collapse-item" [routerLink]="['Users']"> Number Generator </a>



      </div>
    </div>
  </li>

  <!-- Nav Item - Charts -->




  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggled()"></button>
  </div>



</ul>
