<div class="card shadow mb-4">
    <div class="card-header py-3 golbalflex">
        ແກ້ໄຂ
    </div>
    <div class="card-body">

        <div class="form-row">

            <div class="col-md-4 mb-3">
                <label >Youtube Url</label>
                <input type="text" class="form-control "  placeholder="Youtube Url" >
            </div>

            <div class="col-md-4 mb-3">
                <label >ອໍເດີອີນເດັກ</label>
                <input type="number" class="form-control "  placeholder="ອໍເດີອີນເດັກ" >  
            </div>
           
        </div>
      
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label >ຫົວຂໍ້</label>
                <input type="text" class="form-control "  placeholder="ຫົວຂໍ້" >
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8 mb-3">
                <label >ລາຍລະອຽດ</label>
                <textarea  type="text" class="form-control "  placeholder="ລາຍລະອຽດ" ></textarea>
            </div>
        </div>

    <div class="card-footer ">
        <button  type="button" class="btn btn-primary"> ບັນທືກ </button>&nbsp;
        <button routerLink="../" type="button" class="btn btn-secondary "> ກັບຄືນ </button>
    </div>
</div>